////
/// @author Jason Harris
////

// Buttons - These styles are for use with both anchors that need to be styled
// as buttons and buttons that need to be styled as... buttons.

$_button-border-width--thin: .1875rem;
$_button-border-radius--small: .1875rem;

.button {
    display: inline-block;
    text-decoration: none;
    transition: .2s;
}

.button--simple {
    border-style: none;
}

.button--ghost {
    background: none;
    border-style: solid;
    border-width: $_button-border-width--thin;
    border-radius: $_button-border-radius--small;
}

// Size variants
.button--small {
    padding: $baseline / 4;
    @include type-setting(-1);
}

.button--medium {
    padding: $baseline / 2;
    @include type-setting(0);
}

.button--large {
    padding: $baseline / 2;
    @include type-setting(1);
}

.button--fullwidth {
    width: 100%;
    text-align: center;
}

.button--halfwidth {
    width: 50%;
    text-align: center;
}

// Style variants
.button--primary {
    background-color: color('purple', 'base');
    color: color('white');

    &:hover {
        background-color: color('purple' , 'dark');
    }
}

.button--secondary {
    background-color: color('green', 'light');
    color: color('black');

    &:hover {
        background-color: color('green' , 'base');
    }
}

.button--tertiary {
    background-color: color('grey', 'x-light');
    color: color('black');

    &:hover {
        background-color: color('grey' , 'dark');
    }
}

.button-ghost--primary {
    border-color: color('purple', 'base');
    color: color('black');

    &:hover {
        color: color('white');
        background-color: color('purple', 'base');
    }
}

.button-ghost--secondary {
    border-color: color('green', 'base');
    color: color('black');

    &:hover {
        background-color: color('green', 'base');
    }
}

.button-ghost--tertiary {
    border-color: color('grey', 'base');
    color: color('black');

    &:hover {
        background-color: color('grey', 'base');
    }
}

.button-group {
    margin-bottom: $baseline;
}
