////
/// @author Jason Harris
////

// Buttons - These styles are for use with both anchors that need to be styled
// as buttons and buttons that need to be styled as... buttons.

.button {
    display: inline-block;
}

.button--simple {
    text-decoration: none;
    border-style: none;
}

//.btn--ghost {
//}

// Size variants
.button--small {
    padding: $baseline / 4;
    @include type-setting(-1);
}

.button--medium {
    padding: $baseline / 2;
    @include type-setting(0);
}

.button--large {
    padding: $baseline / 2;
    @include type-setting(1);
}

.button--fullwidth {
    width: 100%;
    text-align: center;
}

.button--halfwidth {
    width: 50%;
    text-align: center;
}

// Style variants
.button--primary {
    background-color: color('purple', 'base');
    color: color('white');

    &:hover {
        background-color: color('purple' , 'dark');
    }
}

.button--secondary {
    background-color: color('green', 'light');
    color: color('black');

    &:hover {
        background-color: color('green' , 'base');
    }
}

.button--tertiary {
    background-color: color('grey', 'x-light');
    color: color('black');

    &:hover {
        background-color: color('grey' , 'dark');
    }
}

.button-icon {
}

.button-icon-left {
}

.button-group {
    margin-bottom: $baseline;
}
