////
/// @author Jason Harris
////

// Basic styles for lists
.list {
  list-style-position: inside;
}

.list--none {
    list-style-type: none;
}

.list--disc {
  list-style-type: disc;
}

.list--circle {
  list-style-type: circle;
}
