////
/// @author Jason Harris
/// Define any common helper classes
﻿////

// Align block elements
.u-block-centered {
    margin: 0 auto !important;
}

// Align element content
.u-align--left {
    text-align: left !important;
}

.u-align--right {
    text-align: right !important;
}

.u-align--center {
    text-align: center !important;
}

// Float elements
.u-float--left {
    float: left !important;
}

.u-float--right {
    float: right !important;
}

// Display settings
.u-block {
    display: block !important;
}

.u-inline {
    display: inline !important;
}

.u-inline-block {
    display: inline-block !important;
}

// Hiding content

// NB: This will not be available to screenreaders.  Some screenreaders will ignore display: none
.u-hidden {
    display: none;
    visibility: hidden;
}

// NB: This will be hidden from view but still be available to screenreaders
// http://webaim.org/techniques/css/invisiblecontent/
.u-hidden-visually {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

// Border styles
// Todo:
//  Determine how best to maintain vertical rhythm when adding a border
//  It's likely to be reducing the margin by the border width
//  Maybe add a mixin to set the border based on All/Top/Bottom/Left/Right params
.u-border--solid {
  border-style: solid;
}

.u-border-width--thin {
    border-width: 3px;
}

.u-border-width--medium {
    border-width: 5px;
}

.u-border-width--thick {
    border-width: 7px;
}

.u-borderbottom-width--thin {
    border-bottom-width: 3px;
}

.u-borderbottom-width--medium {
    border-bottom-width: 5px;
}

.u-borderbottom-width--thick {
    border-bottom-width: 7px;
}

.u-border-color--black {
    border-color: black;
}

.u-border-radius--medium {
  border-radius: 5px;
}
