////
/// @author Jason Harris
/// Define any common helper classes
////

// Align block elements
.u-block--center {
    margin: 0 auto !important;
}

// Align inline content
.u-align--left {
    text-align: left !important;
}

.u-align--right {
    text-align: right !important;
}

.u-align--center {
    text-align: center !important;
}

// Float elements
.u-float--left {
    float: left !important;
}

.u-float--right {
    float: right !important;
}

// Display settings
.u-block {
    display: block !important;
}

.u-inline {
    display: inline !important;
}

.u-inline-block {
    display: inline-block !important;
}

.u-flex {
    display: flex !important;
}

// Position settings
.u-relative {
    position: relative !important;
}

.u-absolute {
    position: absolute !important;
}

.u-fixed {
    position: fixed !important;
}

.u-full-width {
  width: 100% !important;
}

// Text transforms
.u-text-lowercase {
    text-transform: lowercase !important;
}

.u-text-uppercase {
    text-transform: uppercase !important;
}

.u-text-capitalize {
    text-transform: capitalize !important;
}

.u-text-decoration--none {
    text-decoration: none !important;
}

// Hiding content

// NB: This will not be available to screenreaders.  Some screenreaders will ignore display: none
.u-hidden {
    display: none;
    visibility: hidden;
}

// NB: This will be hidden from view but still be available to screenreaders
// http://webaim.org/techniques/css/invisiblecontent/
.u-hidden-visually {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden;
}
