////
/// @author Jason Harris
////

//
// Basic typography style for copy text
//

// Set up a default set of styles for the body
body {
    @extend %bodybase;
    font-family: Arial, 'Times New Roman', Times, serif;
    background-color: color('white', 'base');
    color: color('black', 'base');
}

.header {
    // Generic header style
}

.header1 {
    @include type-setting(4);
    margin-bottom: $baseline * 2;
    font-weight: bold;
    // Any other style like colour or font weight
}

.header2 {
    @include type-setting(3);
    margin-bottom: $baseline * 2;
    // Any other style like colour or font weight
}

.header3 {
    @include type-setting(2);
    margin-bottom: $baseline;
    // Any other style like colour or font weight
}

.header4 {
    @include type-setting(1);
    margin-bottom: $baseline;
    // Any other style like colour or font weight
}

// Superscript and Subscript text - Without breaking line height
%text-subsuper-base {
    font-size: 60%; // Specified in % so that the sup/sup is the right size relative to the surrounding text
    line-height: 0; // Zero out the line-height so that it doesn't interfere with the positioning that follows
    position: relative; // Makes all browsers position the sup/sup properly, relative to the surrounding text
    vertical-align: baseline;
    display: inline-block;
}

sup {
    @extend %text-subsuper-base;
    top: -.5em;
}

sub {
    @extend %text-subsuper-base;
    bottom: -.25em;
}
